.page-type-title
    font-weight: bold
    text-transform: uppercase
    letter-spacing: 2px
    color: color-default
    margin-bottom:20px
.page-type-content
    overflow:auto
    zoom:1

.category-list-link
  text-decoration: none
  color: color-default
  transition: color 0.2s
  line-height: line-height
  &:hover
    color: color-link

.tag-list
  overflow:auto
  zoom:1
.tag-list-link
  text-decoration: none
  color: color-default
  transition: color 0.2s
  line-height: line-height
  float:left
  padding:1px 10px
  border:1px solid #666
  margin-right:10px
  margin-bottom:5px
  border-radius:20px
  &:hover
    color: color-link